//@import "bootstraps-variables";
@import "mixin-main";
@import "mixin-site";
@import "mixin-tablet";

#block-intro {
	
	margin-bottom: @margin-section;
	
	.block-content{
		height: 700px;
		background-position: center right;
		background-repeat: no-repeat;
	}
	
	.container{
		width: 100%;
	}
	
	.single-inline-block-vertical-middle-wrap{
		text-align: right;
		margin-right: 5%;
	}
	
	h1 {
		@fs: 54px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 2*@base-unit;
		letter-spacing: 0.025em;
	}
	h2 {
		@fs: 30px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 3*@base-unit;
	}
	
	.divider{
		background-color: @brand-color;
		width: 85%;
		margin: 30px auto 40px;
	}
}

#block-smart-intercooler {
	
	margin-bottom: @margin-sub-section;
	
	.container{
		max-width: 1200px;
	}
	
	.block-content {
		padding: 0 25px;
	}
	
	h1 {
		@fs: 42px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		margin-bottom: 10px;
	}
	h2 {
		@fs: 18px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		font-family: @fn-body;
		font-weight: @fn-body;
		font-style: italic;
		color: @fn-color-grey3;
	}
	hgroup{
		margin-bottom: 10*@base-unit;
	}
}

#cards-smart-intercooler {
	
	margin-bottom: 15*@base-unit;
	
	.Row > .setGutter(30px);
	
	.card {
		padding: 0;
	}
	
	.card-header {
		font-family: @fn-title ;
		margin-bottom: 4*@base-unit;
		    padding: 20px;
		
		@fs: 21px;
		font-size: @fs;
		line-height: roundup(@fs, @base-unit) + 1*@base-unit;
		
		span{
			display: inline-block;
			vertical-align: middle;
		}
		.numbering {
			@fs: 24px;
			font-size: @fs;
			line-height: roundup(@fs, @base-unit) + 1*@base-unit;
			padding-right: 0.8em;
		}
	}
	
	.card-image {
		margin-bottom : 6*@base-unit;
	}
	
	p {
		text-align: center;
		line-height : 4*@base-unit;
	}
}

#block-magic-touch {
	
	margin-bottom: @margin-section;
	
	.container{
		max-width: 1100px;
	}
	/*
	.block-body{
		.row-inline-block{
			.feature-right, .feature-left {
				width: 40%;
			}
			.feature-body {
				width: 60%;
			}
		}
	}
	*/
}

#feature-magic-touch{
	
	h1 {
		@fs: 56px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
	}
	h2 {
		@fs: 30px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
	}
	hgroup{
		margin-bottom: 8*@base-unit;
		text-align: center;
		
				.divider{
			background-color: @brand-color;
			margin: 4*@base-unit auto;
		}
	}
	
	.feature-body{
		text-align: center;

		
		.list {
			padding-left: 10px;
			
			@dim: 6*@base-unit;
			li{
				padding-left: 10*@base-unit;
				line-height: @dim;
				font-size: 24px;
				color: @fn-color-grey3;
				font-weight: @fn-weight-body;
			}
			
			li:before{
				content: counter(list-numbering-counter, decimal);				
				width: @dim;
				height: @dim;
				border-radius: 50%;
				background-color: #222;
				color: @brand-color;
				font-family: @fn-title;
				font-size: 18px;
				line-height: @dim;
				text-align: center;
			}
		}
	}
	
	.feature-container {
		display: inline-block;
		text-align: left;
		width: 100%;
		max-width: 470px;
	}
}

#features-fuel-efficiency{
	.feature-body{
		padding: 7*@base-unit 11*@base-unit 8*@base-unit 7*@base-unit;
		background-color: @bg-color-grey2;
		
		.divider{
			margin: 4*@base-unit auto;
		}
	}
	
	h1{
		@fs: 28px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		color: @fn-color-title;
		margin-bottom: 2*@base-unit;
	}
	
	p{
		margin: 0;
		line-height: 1.65;

	}
	
	.feature-footer{
		img{
			display: inline-block;
			width: auto;
			margin-right: 3*@base-unit;
			verital-align: middle;
		}
		span{
			vertical-align: middle;
			@fs: 24px;
			font-size: @fs;
			line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
			color: @brand-color3;
			font-weight: @fn-weight-title;
		}
	}
	
	.divider {
		margin: 15*@base-unit auto;
	}
}

#feature-proven{
	background-color: @bg-color-grey2;
	padding: 11*@base-unit 15*@base-unit;
	
	.row-inline-block{
		white-space: nowrap;
	}
	
	.feature-body, .feature-left{
		width: auto;
		vertical-align: bottom;
	}
	
	.feature-body{
		width: 550px;
    white-space: normal;
		
		background-color: transparent;
		padding: 0;
		padding-left: 11*@base-unit;		
	}
	
	h1{
		@fs: 36px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		margin-bottom: 0;
	}
	h2{
		@fs: 21px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		color: @fn-color-title;		
	}
	hgroup{
		margin-bottom: 3*@base-unit;
	}
	
	p{
		margin-bottom: 8*@base-unit;
	}
}

#block-breakthrough{
	

	
	.block-body{
		margin-bottom: @margin-sub-section;
	}
	
	.container{
		width: 100%;
		max-width: 1250px;
	}
	
}

#cards-breakthrough{
	
	.Row > .setGutter(25px);
	
	img{
		margin-right: 3*@base-unit;
	}
	
	h1{
		@fs: 26px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		color: @brand-color3;
		margin-bottom: 2*@base-unit;
	}
	h2{
		@fs: 18px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		color: @fn-color-white;
	}
	
	.card{
		padding: 7*@base-unit 10*@base-unit;
		background-color: @bg-color-grey1;
		min-height: 400px;
	}
	
	.card-header {
		margin-bottom: 7*@base-unit;
		white-space: nowrap;
		> * {
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	.list{
		.fa{
			font-size: 5px;
			line-height: 5*@base-unit;
		}
		
		li{
			@fs: 15px;
			font-size: @fs;
			line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		}
	}
}

#block-aic{
	
	margin-bottom: @margin-section;

	
	.block-header{
		height: 320px;
		margin-bottom: 60px;
		
		img { margin-right: 30px; }
		
		h1{
			@fs: 48px;
			font-size: @fs;
			line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
			font-family: @fn-title;
			small {
				font-size : 14px;
				vertical-align: 24px;
				color: @brand-color;
			}
		}
	}
	
	
		h2 {
		@fs: 18px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		font-family: @fn-body;
		font-weight: @fn-body;
		font-style: italic;
		color: @fn-color-grey3;
			text-align: center;
			margin-bottom: 30px;
	}
	
	.divider{
		margin: 70px auto;
	}
}

#cards-aic{
	
	.row-inline-block{
		text-align: center;
	}
	
	.card{
		display: inline-block;
		padding: 11*@base-unit 5*@base-unit 9*@base-unit;
		background-color: @bg-color-grey1;
		border-radius: 50%;
		width: 300px;
		height: 300px;
	}
	
	.card-header{
		margin-bottom: 3*@base-unit;
		
		@fs: 24px;

		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		color: @brand-color3;
	}
	
	.card-body{
		margin-bottom: 7*@base-unit;
	}
	
	.list{
		.fa{
			font-size: 4px;
			line-height: 4*@base-unit;
		}
		
		li{
			text-align: left;
			@fs: 14px;
			font-size: @fs;
			line-height: roundup( @fs, @base-unit ) + 0.5*@base-unit;
			margin-bottom: 1*@base-unit;
		}
	}
}

#cards-aic-best{
	
	.card{
		padding: 9*@base-unit 11*@base-unit;
		background-color: @bg-color-grey1;
		min-height: 310px;
	}
	
	.card-header{
		margin-bottom: 2*@base-unit;
		
		@fs: 24px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		color: @brand-color3;
	}
	
	.card-body{
		margin-bottom: 7*@base-unit;
	}
	
	.list{
		.fa{
			font-size: 5px;
			line-height: 5*@base-unit;
		}
		
		li{
			text-align: left;
			@fs: 16px;
			font-size: @fs;
			line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
			margin-bottom: 1*@base-unit;
		}
	}
}

#block-biz{
	
	margin-bottom: 300px;
	
	.block-content{
		position: relative;
		max-width: 1366px;
		height: 730px;
		margin: auto;
		margin-bottom: 200px;
		
		> div{
			position: absolute;
		}
	}
	
	h1 {
		@fs: 48px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 2*@base-unit;
		letter-spacing: 0.025em;
	}
	h2 {
		@fs: 32px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 3*@base-unit;
	}
	h1, h2{
		padding: 0 3*@base-unit;
	}
	hgroup .divider{
		background-color: @brand-color;
		margin: 25px auto;
	}
	
	.block-header{
		top: 20%;
		left: 5%;
	}
	
	.block-body{
		bottom: -100px;		
	}
	.block-content > .divider {
		bottom: -200px;
	}
	.block-body, .block-content > .divider {
		max-width: 1230px;
		left: 0;
    right: 0;
    margin: auto;
	}
}

#cards-biz{
	
	.Row > setGutter(15px);	
	
	.card{
		background-color: rgba(26,26,26,0.8);
		padding: 8*@base-unit 4*@base-unit 0;
		min-height: 270px;
	}
	
	.card-header{
		text-align: center;
		@fs: 21px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
	}
	
	.list{
		.fa{
			font-size: 5px;
			line-height: 5*@base-unit;
		}
		
		li{
			text-align: left;
			@fs: 16px;
			font-size: @fs;
			line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
			margin-bottom: 1*@base-unit;
		}
	}
}

#block-biz-details{
	margin-bottom: @margin-section;
}

#features-biz-details{
	
	.feature{
		margin-bottom: 22*@base-unit;
		&:last-child{
			margin-bottom: 0;
		}
	}
	
	@img-width: 45%;
	@body-width: 55%;
	@overlap-width: @img-width + @body-width - 100%;
	
	.feature-left, .feature-right{
		position: relative;
		z-index: 0;
		width: @img-width;
	}	
	.feature.img-left{
		.feature-body{
			margin-left: -@overlap-width;
		}
	}
	.feature.img-right{
		.feature-body{
			margin-right: -@overlap-width;
		}
	}
	.feature-image img{
		width: 100%;
	}
	.feature-body{
		position: relative;
		z-index: 1;
		width: @body-width;
		padding: 8*@base-unit 11*@base-unit 8*@base-unit 13*@base-unit;
		background-color: rgba(26,26,26,0.8);
	}
	
	h1{
		@fs: 28px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		color: @fn-color-title;
		margin-bottom: 2*@base-unit;
	}
	
	.feature-body {
		.title{
			font-family: @fn-title;
			@fs: 18px;
			font-size: @fs;
			line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
			margin-bottom: 3*@base-unit;
		}

		.divider{
			margin: 4*@base-unit 0;
		}
		
		.list {
			.List > .setHeaderLineHeight(25px);  // Icon size
			
			li{
				padding-left: 7*@base-unit;
				margin-bottom: 3*@base-unit;
				p{
					@fs: 15px;
					font-size: @fs;
					line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
				}
			}
		}
	}
}

#block-lets-talk{
	margin-bottom: 100px;
	
	.block-header{
		height: 420px;
	}
	
	h1 {
		@fs: 56px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 2*@base-unit;
	}
	h2 {
		@fs: 48px;
		font-size: @fs;
		line-height: roundup( @fs, @base-unit ) + 3*@base-unit;
	}
	
	.list{
		.List > .setHeaderLineHeight(30px);
		.fa{
			font-size: 30px;
		}
		li {
			padding-left: 8*@base-unit;
		}
	}
	
	.contacts-wrap{
		.Row > .setGutter(25px);
	}
	
	address{
		position: relative;
		min-height: 200px;
		
		.title{
			color: @brand-color;
			@fs: 21px;
			font-size: @fs;
			line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		}
		p{
			@fs: 21px;
			font-size: @fs;
			line-height: roundup( @fs, @base-unit ) + 1*@base-unit;
		}
		
		.address{	
			font-style: italic;
		}
	}
	
	.contacts{
		padding: 5*@base-unit 7*@base-unit;
		background-color: @bg-color-grey1;
		
		.list-header, .list-header a{
			color: @brand-color;
		}
	}
	
	.btn {
		position: absolute;
		bottom: 0;
		width: 130px;
		@h: 56px;
		height: @h;
		line-height: @h;
		font-size: 21px;
	}
}

.gl-form-wrap {
	text-align: center;
	margin-bottom: 300px;
}