//@import "bootstraps-variables";
@import "mixin-main";
@import "mixin-site";
@import "mixin-mobile";

#block-solar-fit {
	
	padding-bottom: 0;
	
	// Cover image
	
	// Typography	
	h1 {
		.fs-intro-head;
		margin-bottom: @4base-unit;
	}
	
	
	h2 {
		.fs-smaller-tab-head();
		line-height: @5base-unit;
		color: @black;
	}
}

#block-feed-in {
	
	
	.container {
		padding: 0 30px;
	}
	
	.block-content {
		padding: 60px 0;
		background-color: #fff8c5;
	}
	
	// Typography	
	h1 {
		.fs-small-tab-head();
	}
	
}

#cards-feed-in {
	
	// Width
	margin: 0 auto;
	
	
	.card {
		background-color: transparent;	
		padding-bottom: 0;
	}
	
	.card-header {
		.fs-title();
		text-align: center;

		.numbering {
			@fs: 28px;
			font-size: @fs;
			line-height: roundup(@fs, @base-unit) + 0*@base-unit;
			vertical-align: middle;
			padding-right: @3base-unit;
		}
	}
	
	.card-image {
		margin-bottom : 4*@base-unit;
		text-align: center;
	}
	
	.card-container {
		padding: 0 24px;
		max-width: 400px;
		
	}
	
	p {
		.body1();
		text-align: center;
		line-height : @4base-unit;
	}
}

#block-renewal-energy {
	
	.image-wrap {
		img { 
			width: auto;
			margin-bottom: 12px;
		}
	}
	
	
	
	.block-content {
		background-color: #fffee6;
		padding: 60px 0;
	}
	
	.block-footer{
		margin: 0 auto;
		max-width: 540px;
		.row-inline-block > div{
			vertical-align: middle;
		}
	}
	
	.container {
    padding: 0 30px;
		
		.block-header {
			margin-bottom: @5base-unit;
		}		
	}
	
	.block-body {
		text-align: center;
	}
	
	// Typography	
	h1 {
		.fs-sub-header();
		margin-bottom: @2base-unit;
	}
	
	h2 {
		.fs-title();
		color: #f47a00;
	}
	
	p {
		.body1();
	}
	
}

#block-safe-investment {
	
	.container {

	}
	
	.block-content {
		padding: 66px 0 30px;
	}
	
	
	.block-body {
		margin-bottom: 24px;
	}
	
	.block-footer {
		padding: 0 18px;
	}
	
	h1 {
		.fs-norm-tab-head();
	}
	
	.divider {
		margin: 0;
	}
}

#table-statistic {
	
	table-layout: fixed;
	width: 100%;
	max-width: 450px;
	
	margin: 0 auto @5base-unit;
	
	td {
		text-align: left;
		vertical-align: middle;
		height: 80px;
	  border-bottom: 1px solid #eaeaea;	
	}
	
	img { max-width: 180px;}
			
	// Typography

	
	big {
		font-size: 45px;
		color: @orange-main;
	}
	
	small {
		font-size: 28px;
		color: @orange-main;
	}
	
	p {
		.fs-small-title();
		color: @grey-4;
		margin-bottom:0px;
	}

}

p.note {
	font-size: 14px;
	font-style: italic;
}


#block-solar-fit-analysis {
	h1 {
		.fs-sub-header();
	}
	
	.block-content {
		padding: 10*@base-unit 0;
	}
	
	.divider {
		margin: auto;
	}
	
	.image-wrap {
		margin: 0 auto;
		width: 100%;
		max-width: 375px;
		padding: 0 30px;

	}
}


#block-income {
	

	.block-content {
		padding: 12px 0 48px;
	}
	
	.divider {
		margin: auto;
	}	
}

#cards-income {
	
	
	.card {
		background-color: transparent;	
		padding: 42px 0 60px;
	}
	
	.card-header {
		margin-bottom: @3base-unit;
	}
	
	.card-image {
		margin: 0 auto;
		max-width: 600px;
	}
	
	
	.card-body {
		margin-bottom: roundup(40px, @base-unit);
	}
	
	h1 {
		.fs-small-tab-head();
	}
	
	.card-container {
		width: 90%;
		padding: 0 6px;
	}
	
	p {
		.body1();
		text-align: justify;
		width: 90%;
    margin: 0 auto;
	}	
}

#block-countdown{
	
	.block-header {
		margin-bottom: @4base-unit;
	}
	
	.block-body {
		padding: 0 18px;
	}
	
	
	.divider {
		margin: @5base-unit 0 @8base-unit 0;
	}
	
	.block-content {
		background-color: #fffee6;
		padding: 15*@base-unit 0;
	}
	
	h1 {
		.fs-norm-tab-head();
		margin-bottom: @2base-unit;
	}
	
	.container {
		width: 80%;
	}
	
	.block-footer {
		
		text-align: center;
		
		.list {
			
			display: inline-block;
			
			@fs: 16px;
			@line-height: roundup(@fs, @base-unit) + 1*@base-unit;
			.List > .setHeaderLineHeight(@line-height);
			
			.list-body {
				font-size: @fs;
				line-height: @line-height;
				color: @grey-6;
				text-align: left;
			}
			
			li {
				margin-bottom: @4base-unit;
				padding-left: @4base-unit;
				&:last-child { margin-bottom : 0px }
			}
		}	
	}
}

#countdown {
	
	max-width:240px;
	width: 100%;
	
	margin: auto;
  text-align: center;
	table-layout: fixed;
	
	td {
		width: 50%;
	}
	
	big, small {
		color: @orange-main;
		vertical-align: middle;
	}
	
	big {
		@fs: 80px;
		font-size: @fs;
		padding-right: @base-unit;
	}
	
	small {
		@fs: 24px;
		font-size: @fs;
	}
}

#block-last-batch {
	
	.block-header {
		margin-bottom: 42px;
	}
	
	.container {
		width: 80%;
		max-width: 450px;
	}
	
	h1 {
		.fs-big-tab-head();
		margin-bottom: @2base-unit;
	}
	
	h2 {
		.fs-smaller-tab-head();
		color: @grey-6;
		margin-bottom: roundup(10px, @base-unit);
	}
	
	.block-content {
		padding: 90px 0 0px;
	}
	.divider {
		margin :0
	}
}

#cards-last-batch {
	
	margin: 0 auto;
	
	
	.card {
		background-color: transparent;	
		padding: 36px 0 24px;
	}
	
	.card-image {
		margin-bottom: roundup(15px, @base-unit);
			
		text-align: center;
		
		.fa {
			display: block;
			@fs: 92px;
			font-size: @fs;
			line-height: roundup(@fs, @base-unit) + 1*@base-unit;
			color: @orange-yellow;
		}
		
		.caption {
			padding-top: 12px;
			.fs-smallest-tab-head();
		}
	}
	
	.card-header {
		margin-bottom: roundup(20px, @base-unit);

		
		.stat-1 {
			font-weight: 500;
			color: @orange-lighter;			
			@fs: 72px;
			line-height: roundup(@fs, @base-unit) + 0*@base-unit;
			margin-bottom: @2base-unit;
			
			big {				
				font-size: @fs;
				vertical-align: middle;
			}
			
			small {
				@fs: 24px;
				font-size: @fs;
				vertical-align: roundup(-@fs/2, @base-unit);
			}
		}
		
		.stat-2 {
			font-weight: 500;
			color: @orange-lighter;			
			big {
				@fs: 28px;
				font-size: @fs;
			}
			
			small {
				@fs: 18px;
				font-size: @fs;
			}
		}
		
		font-weight: 300;
		color: #fc9e36;
		text-align: center;
	}
	
	.card-body {	
		
		.card-container{			
			width: 100%;
			text-align: center;
		}
		
		.list {
			
			display: inline-block;
			margin-bottom: 0;
			
			@fs: 21px;
			@line-height: roundup(@fs, @base-unit) + 1*@base-unit;
			.List > .setHeaderLineHeight(@line-height);
			
			
			.list-body {
				font-size: 20px;
				line-height: @line-height;
				color: @grey-6;
				text-align: left;
			}
			
			li {
				margin-bottom: @3base-unit;
				padding-left: 4*@base-unit;
			}
		}
	}
	
	p {
		@fs: 14px;
		font-size: @fs;
		line-height: roundup(@fs, @base-unit) + 1*@base-unit;
		text-align: center;
		color: #666;
	}	
}

#block-final-batch {
	
	.container {
		padding : 0 30px;
		max-width: 450px;
	}
	
	.block-header {
		margin-bottom: 30px;
	}
	
	.block-content {
		padding: 30px 0 48px;
	}
	
	h1 {
		.fs-norm-tab-head();
	}
	
	
	.divider {
		margin: auto;
	}	
}

#cards-final-batch {
	max-width: 1100px;
	margin: 0 auto;
	
	.card {
		background-color: #fff8c5;	
		padding: roundup(40px, @base-unit);
		margin-bottom: 42px;
	}
	
	.card-header {
		margin-bottom: roundup(20px, @base-unit);
		text-align: center;
	}
	
	h1 {
		.fs-title();
		font-weight: 600; // Semibold
	}
	
	h2 {
		.fs-small-title();
	}
	
	.card-image {
		text-align:center;
		margin-bottom: roundup(15px, @base-unit);
		img{ max-width: 200px;}
	}
	
	.card-body {	
		
		.card-container{
			padding: roundup(30px, @base-unit);
			
			width: 90%;
		}		
	}
	
	p {
		.body2();
		text-align: center;
	}	
}

#block-lets-talk {

	.container {
		padding:0 30px;
		max-width: 550px;
	}
	
	h1 {
		.fs-norm-tab-head();
	}
	.block-content {
		padding: 10*@base-unit 0 0;
	}
	
	.block-body {
		margin-bottom: 12px;
	}	
	
	.block-header {
		margin-bottom: 30px;
	}
	
	
	.divider {
		margin: auto;
	}
	
		.gl-form-wrap {
		text-align: center;
		margin-bottom: 36px;
			
			iframe {
				min-width: 320px;
				width: 80%;
				max-width: 600px;
				border: 1px solid #ccc;
			}
	}
	
	
	.chat-app-wrap {
		margin: auto;
		padding: 0 12px;
		max-width: 550px;
	}
}

#cards-contact-method {
	max-width: 1000px;
	margin: 0 auto;
	
	.card-container {
		padding: 0 30px;
		max-width: 550px;
	}
	.card {
		background-color: transparent;	
		padding: 30px 0;
	}
	
	.card-header {
		margin-bottom: @2base-unit;
		color: @orange-main;
		text-align: center;
		font-weight: 400;
		
		.fa {
			@fs: 32px;
			font-size: @fs;
			line-height: roundup(@fs, @base-unit) + 1*@base-unit;
			padding-right: @4base-unit;
			vertical-align: middle;
		}
		
		span {
			.fs-sub-header();
			vertical-align: middle;
			margin-bottom: @2base-unit;
		}		
	}
	
	.card-body {	
		
	}
	
	p {
		.fs-smaller-tab-head();
		text-align: center;	
	}
}

#feature-ambassador {
	
	margin: 54px auto auto;
	background-color: @grey-back;
	padding: 54px 0;
	
	.image-wrap {
		padding: 0 80px;
		max-width: 300px;
		margin: 0 auto;
		margin-bottom: 18px ;
	}
	
	hgroup {
		margin-bottom: 21px;
	}
	
	h1 {
		.fs-smallest-tab-head();
		margin-bottom: 18px;
	}
	
	h2 {
		.fs-smallest-title();
		font-weight: 500;

	}
	
	p {
		.body1();
		text-align: justify;
	}
}

